@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #fdfcdc;
  color: #005E7A;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main{
  margin: auto;
  margin-top: 10vh;
  width: 80%;
}

h1, h2{
  margin: 10px 0px 10px 0px;
}

h1{
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

h2{
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 25px;
}

button{
  background-color: #FDCA9B;
  color: #005E7A;
  border: 3px solid #f07167;
  font-weight: bold;
}

button:hover{
  background-color: #FDFCDC;
}

table{
  width: 100%;
  background-color: #fed9b7;
  height: 1px;
}

table, th, td {
  border: 3px solid #f07167;
}

td, th{
  padding: 10px;
  vertical-align: middle;
}

td:first-child, td:nth-child(2){
  min-width: 300px;
  max-width: 300px;
  word-wrap: break-word;
}

td:nth-child(3), td:nth-child(4){
  min-width: 100px;
  max-width: 100px;
  word-wrap: break-word;
}

td:last-child{
  min-width: 200px;
  max-width: 200px;
  padding: 0px;  
  height: 100%;
  background-color: #FDCA9B;
}

th{
  font-weight: 700;
}

input[type='checkbox']{
  justify-self: start;
  width: 20px;
  height: 20px;
  margin: 0;
}

footer{
  left: 0;
  right: 0;
  margin-bottom: 20px;
  z-index: -1;
}

footer>p{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a{
  padding-left: 10px;
}

footer>p>a:hover{
  transform: scale(1.1);
}

/**********************************************
ID SELECTORS 
**********************************************/

#addBook{  
  margin: 20px auto;
  display: block;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
}

#addBook:active{
  transform: scale(1.1);
}

#newBookForm{
  width: 60%;
  margin: auto;
  padding: 10px;
  border: 3px solid #f07167;
  position: relative;
  top: -10vh;
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
  background-color: #fed9b7;
  font-weight: bold;
  border-radius: 10px;
}

#finishBookAdd{
  grid-column: span 2;
  padding: 5px 0px 5px 0px;
  border: 3px solid #f07167;
  background-color: #FDCA9B;
  font-weight: bold;
  font-size: 16px;
  color: #005E7A;
  border-radius: 10px;
}

#finishBookAdd:hover{
  background-color: #FDFCDC;
}

#finishBookAdd:active{
  transform: scale(0.9);
}

/**********************************************
CLASS SELECTORS
**********************************************/

.removeButton, .readButton{
  border: none;
  width: 49%;
  height: 100%;
}

.removeButton:active, .readButton:active{
  transform: scale(0.9);
}

.removeButton{
  border-right: 3px solid #f07167;
}

/**********************************************
MEDIA 
**********************************************/

